 @-webkit-keyframes rotate-hor-center {
     0% {
         -webkit-transform: rotateX(0);
         transform: rotateX(0);
     }

     100% {
         -webkit-transform: rotateX(-360deg);
         transform: rotateX(-360deg);
     }
 }

 @keyframes rotate-hor-center {
     0% {
         -webkit-transform: rotateX(0);
         transform: rotateX(0);
     }

     100% {
         -webkit-transform: rotateX(-360deg);
         transform: rotateX(-360deg);
     }
 }

 .rotateHorCenter {
     -webkit-animation: rotate-hor-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
     animation: rotate-hor-center 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
 }

 @-webkit-keyframes fade-in {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 @keyframes fade-in {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 .fadeIn {
     -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
     animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 }