@import './variable.scss';

.App {
  background-color: var(--cream);
  width: 100%;
  min-height: 100vh;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    width: 90%;
    
    @media (min-width: $desktop-width) {
      width: 40%;
    }
  }
}