@import '../variable.scss';

.ChartCard {
    display: flex;
    flex-direction: column;
    padding: 1.8rem 1rem;
    background-color: var(--pale-orange);
    border-radius: var(--border-radius);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--dark-brown)
    }

    .stats {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 2px solid var(--cream);
    }

    .lightText {
        color: var(--medium-brown);
        // font-weight: 700;
        font-size: 16px;
    }

    .chartBarContainer {
        display: flex;
    }

    .chartBar {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        .bar {
            max-height: 250px;
            background-color: var(--soft-red);
            width: 70%;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                background-color: var(--hover-red);

                & + .tooltip {
                    visibility: visible;
                }
            }

            @media (min-width: $desktop-width) {
                width: 57%;
            }
        }

        .label {
            font-size: 12px;
            color: var(--medium-brown);
        }

        .tooltip {
            font-size: 12px;
            background-color: var(--dark-brown);
            position: relative;
            bottom: 10px;
            padding: 4px;
            font-weight: bold;
            color: var(--cream);
            border-radius:4px;
            visibility: hidden;
            order: -1;
        }

    }

}